<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="localhost"/>
		<add key="Instance" value="SqlExpress"/>
		<add key="Database" value="BookStoreDB"/>
		<add key="Username" value="wrong"/>
		<add key="Password" value="wrong" />
		<add key="Entropy" value="admin" />

		<add key="LastScreen" value="LoginWindow" />

		<add key="RowPerPageManageCouponScreen" value="4"/>
		<add key="RowPerPageManageBookScreen" value="10"/>
		<add key="RowPerPageManageOrderScreen" value="4"/>

	</appSettings>
</configuration>